body{
    box-sizing: border-box;
    text-align: center;
    padding:0;
    margin:0;
    font-size: 18px;
    background-color: #F7F7F7;
    font-family: cursive ;
}

.namebox{
    border: 1px solid black;
    width: 100%;
    border-radius: 3px;
    height:30px;
    background-color: white;
    
}
.mailbox{
    border: 1px solid black;
    width: 100%;
    border-radius: 3px;
    height:30px;
    background-color: white;
    
}
.passwordbox{
    border: 1px solid black;
    width: 100%;
    border-radius: 3px;
    height:30px;
    background-color: white;
    
}
.middle{
    width: 100%;
    display:flex;
    background-color: cadetblue;
    height:200px;
}

@media screen and (max-width: 994px){
    .middle{
        width: 100%;
        display:block;
        background-color: cadetblue;
        height:300px;
        padding-top:30px;

    } 
} 

.name-p{
    color:white;
    margin-bottom:0;  
}
.mail-p{
    color:white;
    margin-bottom:0;  
}
.pass-p{
    color:white;
    margin-bottom:0;  
}

.name-g{
    width: 30%;
    margin-left: 30px;
}
@media screen and (max-width: 994px){
    .name-g{
       margin:0 auto;
       width: 50%;
    }
}
.mail-g{
    width: 30%;
    margin-left: 30px;
}

@media screen and (max-width: 994px){
    .mail-g{
       margin:0 auto;
       width: 50%;
    }
}
.pass-g{
    width: 30%;
    margin-left: 30px;
}

@media screen and (max-width: 994px){
    .pass-g{
       margin:0 auto;
       width: 50%;
    }
}


.wrapper{
    position: relative;
    width: 100%;
}

footer{
   

}

.footer{
    text-align: center;
	width:100%;
	background-color:#000000;
    color:white;
    position: absolute;
    bottom:-345px;
    height:50px;
    padding-top:10px;
	
}
.last{
    color:black;
}